.thanks {
    color: #DADADA;
    font-family: Epilogue;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 158%;
    letter-spacing: 0.69rem;
    margin-top: 20%;
    margin-left: 20%;
}