footer {
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    color: rgb(234, 223, 223) !important;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
    left: 0;
    margin-top: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}