.jamlinkRow {
    margin-top: 12%;
}

.jamlinkTitle {
    color: #DADADA;
    font-family: Epilogue;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 158%;
}

.jamlinkSubTitle {
    color: #DADADA;
    font-family: Epilogue;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 200;
    line-height: 158%;
}

.jamlinkText {
    color: #DADADA;
    font-family: Epilogue;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 200;
    line-height: 158%;
}

.jamlinkImg {
    margin-top: 8%;
    margin-left: 9%;
}

.linkButton {

    justify-content: center;
    font-size: x-large;

}